<div class="bg-pattern w-full h-full flex flex-col items-center justify-center">
  <div [@fadeInUp] class="card overflow-hidden w-full max-w-md">
    <div class="p-6 pb-0 flex flex-col items-center justify-center">
      <div *ngIf="(logoLogin$ | async) as logoUrl" class="fill-current text-center">
        <img *ngIf="logoUrl?.trim()" class="w-24" [src]="logoUrl" alt="Logo" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h2 class="title m-0">Restablecer contraseña</h2>
      <h4 class="body-2 text-secondary m-0">
        Ingresa tu correo electrónico para recuperar tu contraseña.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6 flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <mat-icon class="mr-2" matIconPrefix svgIcon="mat:mail"></mat-icon>
        <input formControlName="email" matInput required placeholder="email@ejemplo.com" />
        <mat-error *ngIf="form.controls.email.hasError('required')">
          No podemos recuperar tu contraseña sin tu correo electrónico.
        </mat-error>
      </mat-form-field>

      <button
        (click)="send()"
        class="mt-2"
        color="primary"
        mat-raised-button
        type="button">
        ENVIAR ENLACE DE RECUPERACIÓN
      </button>
    </div>
  </div>
</div>
