<div style="display: flex; align-items: center; ">
  <ng-container *ngIf="branding$ | async as branding">
    <div class="font-medium ltr:ml-4 rtl:mr-4 hidden sm:block flex items-left">
      <a [href]="branding.footerLink" target="_blank" rel="noopener noreferrer" class="flex items-left hover:opacity-80 transition-opacity">
        <img *ngIf="branding.logoFooter?.trim()" [src]="branding.logoFooter" [alt]="(branding.footerText?.trim() || branding.clientName)" class="h-6 w-auto mr-2">
        <span>{{ branding.footerText?.trim() || branding.clientName }}</span>
      </a>
    </div>
  </ng-container>
</div>
